<!DOCTYPE html>
<html>
<head>
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? string.Empty : ViewBag.Title + " | ")extremelylongurlshorteningserviceprovider.info</title>
	<link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	@RenderSection("head", false)
</head>

<script type="text/javascript">
	var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
	document.write(unescape("%3Cscript src='" + rpxJsHost +
"rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	RPXNOW.overlay = true;
	RPXNOW.language_preference = 'en';
</script>

<body>
	<div id="content">
		@if (TempData["Message"] != null)  
		{
			<div id="global-message">
				<span>@TempData["Message"]</span>
			</div>
		}
		
		<div id="current-user">
			@if (CurrentUser == null)
			{
				var authenticationUrl = Url.Action("Authenticate", "Authentication", new { returnUrl = Request.Url.ToString() }, "http"); 
				<a class="rpxnow" onclick="return false;" href="https://shcil.rpxnow.com/openid/v2/signin?token_url=@Url.Encode(authenticationUrl)">
					Sign In with OpenID
				</a>
			}
			else
			{
				<span class="username">@CurrentUser.Friendly</span> @:| 
				<a href="@Url.Action("SignOut", "Authentication", new { returnUrl = Request.Url.ToString() })">Sign Out</a>
			}
		</div>

		<div id="header">
			<h1><a href="/">extremelylongurlshorteningserviceprovider.info</a></h1>
		</div>

		@RenderBody()
	</div>
</body>
</html>
