<!DOCTYPE html>
<html>

<head>
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? string.Empty : ViewBag.Title + " | ")extremelylongurlshorteningserviceprovider.info</title>
	<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	@RenderSection("head", false)
</head>

<body>
	<div id="content">
		<div id="topbar">
			<div id="login-indicator">
				@if (CurrentUser == null)
				{
					var authenticationUrl = Url.Action("Authenticate", "Authentication", new { returnUrl = Request.Url.ToString() }, "http"); 
					<a class="rpxnow" onclick="return false;" href="https://shcil.rpxnow.com/openid/v2/signin?token_url=@Url.Encode(authenticationUrl)">
						Sign In
					</a>
				}
				else
				{
					<span class="username">@CurrentUser.Friendly</span> @:| 
					<a href="@Url.Action("SignOut", "Authentication", new { returnUrl = Request.Url.ToString() })">Sign Out</a>
				}
			</div>

			@if (TempData["Message"] != null)  
			{
				<div id="global-message">
					<span class="error">@TempData["Message"]</span>
				</div>
			}		
		</div>

		<div id="header">
			<h1><a href="/">
				<img src="@Url.Content("~/Content/img/logo.png")" alt="extremelylongurlshorteningserviceprovider.info" />
			</a></h1>
		</div>

		@RenderBody()
		<div id="footer-pusher"></div>
	</div>

	<div id="footer">
		extremelylongurlshorteningserviceprovider.info is a proud member of the <a href="http://www.delver.com/in?invite=dojo" target="_blank">Delver</a> Creativity Dojo 2011 <br />
		Graphic design by Isaac Studios
	</div>

<script type="text/javascript">
	var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
	document.write(unescape("%3Cscript src='" + rpxJsHost +
"rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	RPXNOW.overlay = true;
	RPXNOW.language_preference = 'en';
</script>

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-21723957-1");
		pageTracker._trackPageview();
	} catch (err) { }
</script>

</body>

</html>
