@model ZeeBi.UI.Models.Url
		   
<style type="text/css">
	
	.messages { width: 600px; min-height: 16px; padding: 2px; text-align: right; }
	.messages span { display:none; color:Green;}
	
	.form-field 
	{
		margin: 10px auto;
		width: 620px; 
	}
	
	.form-actions
	{
		margin: 25px 0 10px;
	}
	
	form label 
	{
		display: inline-block;
		width: 395px;
		text-align: right;
		padding-right: 3px;
	}
	
	#longUrl
	{
		width : 600px;
	}
	
	#id { width : 200px; }
	
	#submit 
	{
		width: 200px;
	}

	form input.blur
	{
		color : #bbb;
	}
	
	.messages .error 
	{
		color:Red;
	}
</style>

<h2>Shorten a URL!</h2>

<div class="box">
	<form action="@Url.Action("add", "urls")" method="post">
		<div class="form-field">
			<input id="longUrl" name="longUrl" type="text" title="enter a URL to shorten"/>
			<div id="longUrl-messages" class="messages">
				<span id="longUrl-invalid" class="error">I don't think that's a valid URL</span>
			</div>
		</div>

		<div class="form-field">
			<label for="id">@Url.RouteUrl("Follow", new { id = "XXX" }, "http").Replace("XXX", "")</label>
			<input id="id" name="id" type="text" title="we'll make something up" />
			<div id="id-messages" class="messages">
				<span id="id-too-short" class="error">we need at least 5 characters</span>
				<span id="id-duplicate" class="error">looks like this is already taken</span>
				<span id="id-ok">available!</span>
			</div>
		</div>
		<div class="form-actions">
			<input class="button" id="submit" type="submit" value="Shorten it!" />
		</div>
	</form>
</div>

<script type="text/javascript" src="@Url.Content("Scripts/lib/jquery-1.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("Scripts/lib/jquery.hint.js")"></script>

<script type="text/javascript">

	$(function () {
		$('#id, #longUrl').hint();
		$('#id').bind('change keyup', function () {
			$('#id-messages span').hide();
			
			if (this.value.length == 0) return;

			if (this.value.length < 5) {
				$('#id-too-short').show();
				return;
			}

			$.getJSON('@Url.Action("isAvailable")', { "id" : this.value }, function (isAvailable) {
				if (isAvailable) {
					$('#id-ok').show();
				} else {
					$('#id-duplicate').show();
				}
			});

		});

		$('#longUrl').bind('change keyup', function () {
			$('#longUrl-messages span').hide();

			if (this.value.length == 0) return;

			$.getJSON('@Url.Action("isUrlValid")', { "url" : this.value }, function(valid) {
				if (!valid) {
					$('#longUrl-invalid').show();
				}
			});
		});
	});
</script>

