@model ZeeBi.UI.ViewModels.Urls.HomeViewModel

@section head {
	<link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />
}

<h2>Shorten a <em>URL!</em></h2>

<div id="form-container">
	<form action="@Url.Action("add", "urls")" method="post">
		<div id="textbox-container">
			<input id="longUrl" name="longUrl" type="text" title="enter a URL to shorten" value="@Model.LongUrl"/>
			<div id="longUrl-messages" class="messages">
				<span id="longUrl-invalid" class="error">I don't think that's a valid URL</span>
			</div>
		</div>
		<div id="submit-container">
			<input type="submit" name="submit" id="submit" value="" />
		</div>
		<div id="short-url-container" class="breaker">
			http://extremelylongurlshorteningserviceprovider.info/
			<input id="id" name="id" type="text" title="we'll make something up" value="@Model.Id"/>
			<span id="id-icon"></span>
			<div id="id-messages" class="messages">
				<span id="id-too-short" class="error">we need at least 5 characters</span>
				<span id="id-duplicate" class="error">looks like this is already taken</span>
			</div>
		</div>
	</form>
	<div class="breaker"></div>
</div>

@if (Model.MyUrls != null) 
{
	<h2>My <em>URLs</em></h2>
	<div id="my-urls-container" class="box">
		@Html.Partial("UserUrls", Model.MyUrls)
	</div>
}

<script type="text/javascript" src="@Url.Content("Scripts/lib/jquery-1.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("Scripts/lib/jquery.hint.js")"></script>

<script type="text/javascript">

	$(function () {
		$('#id, #longUrl').hint();

		$('#id').bind('change keyup', function () {
			$('#id-messages span').hide();
			$('#id-icon').removeClass('error').removeClass('ok');

			if (this.value.length == 0) return;

			if (this.value.length < 5) {
				$('#id-too-short').show();
				$('#id-icon').addClass('error');
				return;
			}

			$.getJSON('@Url.Action("isAvailable")', { "id": this.value }, function (isAvailable) {
				if (isAvailable) {
					$('#id-icon').addClass('ok');
				} else {
					$('#id-duplicate').show();
					$('#id-icon').addClass('error');
				}
			});

		});

		$('#longUrl').bind('change keyup', function () {
			$('#longUrl-messages span').hide();

			if (this.value.length == 0) return;

			$.getJSON('@Url.Action("isUrlValid")', { "url": this.value }, function (valid) {
				if (!valid) {
					$('#longUrl-invalid').show();
				}
			});
		});
	});
</script>

