@model ZeeBi.UI.ViewModels.Stats.StatsViewModel
@using ZeeBi.UI.Views;
@{
	ViewBag.Title = "URL Info";
	var shortUrl = Url.RouteUrl("Follow", new { id = Model.Url.Id }, "http");
}

<style>
	#qrcode-container
	{
		float: right;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 5px 80px 5px 10px;
	}
	
	.stat-field 
	{
		width: 600px;
		text-align: left;
		margin: 10px auto;
	}
	
	.box 
	{
		min-height: 110px; 
	}
	
	table
	{
		border: 1px solid gray;		
	}
	
	table thead
	{
		background-color: #faa255;
		color: black;
	}
	
	table td { padding: 2px; }
	
	table td.pageviews-cell { width: 100px; }
	table td.useragent-cell { width: 400px; }
	
	table tr { border: 1px solid gray; }
	
	table tr.summary 
	{
		font-weight: bold;
	}
	
</style>

<h2>Info for <a href="@shortUrl">@shortUrl</a></h2>

<div class="box">
	<div id="qrcode-container">
		<img alt="QR code for @shortUrl" title="QR code for @shortUrl" src="http://chart.apis.google.com/chart?cht=qr&chl=@shortUrl&choe=UTF-8&chs=100x100" />
	</div>

	<div class="stat-field">
		Long URL: <a href="@Model.Url.LongUrl">@Model.Url.LongUrl</a>
	</div>

	<div class="stat-field">
		<div class="table">
			<table>
				<thead>
					<tr>
						<td class="useragent-cell">User Agent</td>
						<td class="pageviews-cell">Page Views</td>
					</tr>
				</thead>
				<tbody>
				@foreach (var kvp in Model.PageViewsByUserAgent)
				{
					<tr>
					<td class="useragent-cell">@kvp.Key</td>
					<td class="pageviews-cell">@kvp.Value</td>
					</tr>
				}
				<tr class="summary">
					<td class="useragent-cell">Total</td>
					<td class="pageviews-cell">@Model.PageViewCount</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="stat-field">
		Pro tip: you might want to bookmark <a href="@Request.Url.ToString()">this page</a> in order to easily find it later.
	</div>
</div>

