@model ZeeBi.UI.ViewModels.Stats.StatsViewModel

@{
    ViewBag.Title = "Info";
}

<h2>Info for: @Model.Url.Id, long URL: @Model.Url.LongUrl</h2>
Total page views: @Model.PageViewCount <br />
Short URL: @Url.RouteUrl("Follow", new { id = Model.Url.Id }, "http")

<div class="table">
	<table>
		<thead>
			<tr>
				<td>UserAgent</td>
				<td>Count</td>
			</tr>
		</thead>
		<tbody>
		@foreach (var kvp in Model.PageViewsByUserAgent)
		 {
			<tr>
			<td>@kvp.Key</td>
			<td>@kvp.Value</td>
			</tr>
		 }
		</tbody>
	</table>
</div>

